<div class="sidebar">
    <nav>
      <div class="left-nav">
        <h3>
          Contacts
        </h3>
      </div>
      <div class="right-nav">
        <div class="buttons2">
          <i class="fa-solid fa-plus"></i>
          <i class="fa-solid fa-magnifying-glass"></i>
          <i class="fa-solid fa-ellipsis"></i>
      </div>
      </div>
    </nav>
    <div class="right">
      <img class="user_avatar" src="assets/img/avatar.png">
      <h4>Saiful Islam</h4>
    </div>
    <div class="right">
      <img class="user_avatar" src="assets/img/avatar.png">
      <h4>Tarek Khan</h4>
    </div>
    <div class="right">
      <img class="user_avatar" src="assets/img/avatar.png">
      <h4>Shuvo Rahman</h4>
    </div>
    <div class="right">
      <img class="user_avatar" src="assets/img/avatar.png">
      <h4>Sabbir Rahman</h4>
    </div>
  </div>