.nav-top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 110px;
    padding-right: 110px;
}
.fb{
    display: flex;
    margin-left: 16px;
    align-items: center;
    top: 0;
    left: 0;
}