<nav>
  <div class="nav-left">

    <div class="fb"><i class="fa-brands fa-facebook" style='color: #4267B2;'></i></div>
    <div class="search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search Facebook">
    </div>
  </div>
  <div class="nav-mid">
  <a href="" class="icon">
    <i class="fa-solid fa-house"></i>
  </a>
  <a href="" class="icon">
    <i class="fa-solid fa-tv"></i>
  </a>
  <a href="" class="icon">
    <i class="fa-solid fa-store"></i>
  </a>
  <a href="" class="icon">
    <i class="fa-solid fa-people-group"></i>
  </a>
  <a href="" class="icon">
    <i class="fa-brands fa-fantasy-flight-games"></i>
  </a>
  </div>
  <div class="nav-right">
    <div class="avatar">
      <i class="fa-solid fa-user"></i>
      <span><strong>Mizan</strong></span>
    </div>
    <div class="buttons">
      <a href=""><i class="fa-solid fa-bars" ></i></a>
      <a href=""><i class="fa-brands fa-facebook-messenger"></i></a>
      <a href=""><i class="fa-solid fa-bell"></i></a>
      <a href=""><i class="fa-solid fa-circle-chevron-down"></i></a>
    </div>
  </div>
</nav>

<i class="fa-solid fa-user-group"></i>
      <br>
      <i class="fa-solid fa-bookmark"></i>
      <br>
      <i class="fa-solid fa-people-group"></i>
      <br>
      <i class="fa-solid fa-store"></i>
      <br>
      <i class="fa-solid fa-tv"></i>
      <br>
      <i class="fa-solid fa-bullhorn"></i>
      <br>
      <i class="fa-solid fa-chart-simple"></i>
      <br>
      <i class="fa-solid fa-droplet"></i>
      <br>
      <i class="fa-solid fa-plate-wheat"></i>
      <br>
      <i class="fa-solid fa-calendar-check"></i>
      <br>
      <i class="fa-solid fa-star"></i>