<nav>
  <div class="nav-left">

    <div class="fb"><i class="fa-brands fa-facebook" style='color: #4267B2;'></i></div>
    <div class="search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search Facebook">
    </div>
  </div>
  <div class="nav-mid">
  <a href="" class="icon">
    <i class="fa-solid fa-house"></i>
  </a>
  <a href="" class="icon">
    <i class="fa-solid fa-tv"></i>
  </a>
  <a href="" class="icon">
    <i class="fa-solid fa-store"></i>
  </a>
  <a href="" class="icon">
    <i class="fa-solid fa-people-group"></i>
  </a>
  <a href="" class="icon">
    <i class="fa-brands fa-fantasy-flight-games"></i>
  </a>
  </div>
  <div class="nav-right">
    
    <div class="buttons">
      <a href=""><i class="fa-solid fa-bars" ></i></a>
      <a href=""><i class="fa-brands fa-facebook-messenger"></i></a>
      <a href=""><i class="fa-solid fa-bell"></i></a>
      <a href=""><img class="user_avatar" src="assets/img/avatar.png"></a>
    </div>
  </div>
</nav>
     <div class="container-fluid">
      <div class="sidebar">
        <div class="left">
          <img class="user_avatar" src="assets/img/avatar.png">
          <h4>Mizanur Rahman</h4>
        </div>
        <div class="left">
          <i class="fa-solid fa-user-group" style="color: #4267B2;"></i>
          <h4>Friends</h4>
        </div>
        <div class="left">
          <i class="fa-solid fa-bookmark" style="color: #4267B2; margin: 10px;"></i>
          <h4>Saved</h4>
        </div>
        <div class="left">
          <i class="fa-solid fa-people-group" style="color: #4267B2;"></i>
          <h4>Groups</h4>
        </div>
        <div class="left">
          <i class="fa-solid fa-store" style="color: #4267B2;"></i>
          <h4>Marketplace</h4>
        </div>
        <div class="left">
          <i class="fa-solid fa-tv" style="color: #4267B2;"></i>
          <h4>Watch</h4>
        </div>
        <div class="left">
          <i class="fa-solid fa-bullhorn"></i>
          <h4>Ad Center</h4>
        </div>
        <div class="left">
          <i class="fa-solid fa-circle-chevron-down"></i>
          <h4>See More</h4>
        </div>
      </div>
      <div class="middle">
        <div class="messageSender">
          <div class="msgTop">
            <img class="user_avatar" src="assets/img/avatar.png">
            <form>
              <input type="text" class="msg_input" placeholder="Whta's on your mind?">
            </form>
          </div>
          <div class="msgBottom">
            <div class="msgOption">
              <i class="fa-solid fa-video" style="color: red;"></i>
              <h3>Live</h3>
            </div>
            <div class="msgOption">
              <i class="fa-solid fa-images" style="color: green;"></i>
              <h3>Photo</h3>
            </div>
            <div class="msgOption">
              <i class="fa-solid fa-face-smile" style="color: orange;"></i>
              <h3>Feeling</h3>
            </div>
          </div>  
        </div>
        <div class="post">
          <div class="post_top">
            <img class="user_avatar post_avatar" src="assets/img/avatar.png">
            <div class="post_topinfo">
              <h3>Mizanur Rahman</h3>
              <p>1 July at 15:15</p>
            </div>
          </div>
          <div class="post_bottom">
            <p>Hi</p>
          </div>
          <div class="post_image">
            <img src="assets/img/Story.JPG">
          </div>
          <div class="post_options">
            <div class="post_option">
              <i class="fa-solid fa-thumbs-up"></i>
              <p>Like</p>
            </div>
            <div class="post_option">
              <i class="fa-solid fa-message"></i>
              <p>Comment</p>
            </div>
            <div class="post_option">
              <i class="fa-solid fa-share"></i>
              <p>Share</p>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="post_top">
            <img class="user_avatar" src="assets/img/avatar.png">
            <div class="post_topinfo">
              <h3>Mizanur Rahman</h3>
              <p>1 July at 15:15</p>
            </div>
          </div>
          <div class="post_bottom">
            <p>Hello</p>
          </div>
          <div class="post_options">
            <div class="post_option">
              <i class="fa-solid fa-thumbs-up"></i>
              <p>Like</p>
            </div>
            <div class="post_option">
              <i class="fa-solid fa-message"></i>
              <p>Comment</p>
            </div>
            <div class="post_option">
              <i class="fa-solid fa-share"></i>
              <p>Share</p>
            </div>
          </div>
        </div>
      </div> 
      <div class="sidebar">
        <nav>
          <div class="left-nav">
            <h3>
              Contacts
            </h3>
          </div>
          <div class="right-nav">
            <div class="buttons2">
              <i class="fa-solid fa-plus"></i>
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-ellipsis"></i>
          </div>
          </div>
        </nav>
        <div class="right">
          <img class="user_avatar" src="assets/img/avatar.png">
          <h4>Saiful Islam</h4>
        </div>
        <div class="right">
          <img class="user_avatar" src="assets/img/avatar.png">
          <h4>Tarek Khan</h4>
        </div>
        <div class="right">
          <img class="user_avatar" src="assets/img/avatar.png">
          <h4>Shuvo Rahman</h4>
        </div>
        <div class="right">
          <img class="user_avatar" src="assets/img/avatar.png">
          <h4>Sabbir Rahman</h4>
        </div>
      </div>
     </div>