<nav>
  <div class="nav-left">

    <div class="fb"><i class="fa-brands fa-facebook" style='color: #4267B2;'></i></div>
    <div class="search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search Facebook">
    </div>
  </div>
  <div class="nav-mid">
  <a href="" class="icon">
    <i class="fa-solid fa-house"></i>
  </a>
  <a href="" class="icon">
    <i class="fa-solid fa-tv"></i>
  </a>
  <a href="" class="icon">
    <i class="fa-solid fa-store"></i>
  </a>
  <a href="" class="icon">
    <i class="fa-solid fa-people-group"></i>
  </a>
  <a href="" class="icon">
    <i class="fa-brands fa-fantasy-flight-games"></i>
  </a>
  </div>
  <div class="nav-right">
    
    <div class="buttons">
      <a href=""><i class="fa-solid fa-bars" ></i></a>
      <a href=""><i class="fa-brands fa-facebook-messenger"></i></a>
      <a href=""><i class="fa-solid fa-bell"></i></a>
      <a href=""><img class="user_avatar" src="assets/img/avatar.png"></a>
    </div>
  </div>
</nav>
