<div class="sidebar">
    <div class="left">
      <img class="user_avatar" src="assets/img/avatar.png">
      <h4>Mizanur Rahman</h4>
    </div>
    <div class="left">
      <i class="fa-solid fa-user-group" style="color: #4267B2;"></i>
      <h4>Friends</h4>
    </div>
    <div class="left">
      <i class="fa-solid fa-bookmark" style="color: #4267B2; margin: 10px;"></i>
      <h4>Saved</h4>
    </div>
    <div class="left">
      <i class="fa-solid fa-people-group" style="color: #4267B2;"></i>
      <h4>Groups</h4>
    </div>
    <div class="left">
      <i class="fa-solid fa-store" style="color: #4267B2;"></i>
      <h4>Marketplace</h4>
    </div>
    <div class="left">
      <i class="fa-solid fa-tv" style="color: #4267B2;"></i>
      <h4>Watch</h4>
    </div>
    <div class="left">
      <i class="fa-solid fa-bullhorn"></i>
      <h4>Ad Center</h4>
    </div>
    <div class="left">
      <i class="fa-solid fa-circle-chevron-down"></i>
      <h4>See More</h4>
    </div>
  </div>